.rectangle {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  opacity: 1;

  &:hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.25;
  }
}
